/* This is a generated file */
html {
	width: 100%;
	height: 100%;
}

body {
    background-color: #FFFFFF;
	width: 100%;
	height: 100%;
	margin: 0;
	font-family: sans-serif;
}

#topNav {
	margin: 0;
	margin-top: 0;
	padding: 20px;
}

#listWorlds {
	background-color: #B5B5B5;
	margin: 0 auto;
	width: 100%;
	padding: 20px;
	text-align: center;
}

#worldContainer {
	width: 100%;
	display: inline-flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;

}

a.worldLink {
	text-decoration: none;
	color: #000000;
}

.worldBox {
	height: 250px;
	text-align: center;
	width: 250px;
	margin: 10px;
}

.worldPic {
	border-radius: 100px;
	height: 200px;
	width: 200px;
	margin: 0 auto;
	margin-bottom: 10px;
}

.worldName {
	margin: 20px;
	font-weight: bold;
}

#github {
	background-color: #FFA200;
	width: 200px;
	height: 50px;
	font-weight: bold;
	padding: 10px;
	text-align: center;
	margin-top: 20px;
	border-radius: 25px;
	border: 2px solid #876507;
	cursor: pointer;
}

