

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    background-color: azure;
}

#modal-map {
  height: 65%;
}
.modal-content {
  background-color: #fefefe;
  border: 2px solid #888;
  width: 30%;
  margin: 5%;
  padding: 5%;
  /* To place it in the lower right corner */
  position: fixed;
  bottom: 6%;
  right: 0px;
}

#modal-map-open {
    /* margin-left: auto; */
    position: fixed;
    bottom: 30px;
    right: 18px;
}

/* #map-back{
  size: 15px;
  margin-left: auto;
  
} */

.close-map-button{
  float: right;
}

#map-back img[src="images/close.png"]{
  width: 20px;
  height: 20px;
  /* margin-right: auto; */
}
