
/* 
main modal for map 
 */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    background-color: azure;
}

/* 
adjusting size of modal to keep it 
in porportional size of plane
 */
#modal-map {
  height: 65%;
}

/*
Provides appropirate spacing for maps and other elements
*/
.modal-content {
  background-color: #fefefe;
  border: 2px solid #888;
  width: 30%;
  margin: 5%;
  padding: 5%;
  /* To place it in the lower right corner */
  position: fixed;
  bottom: 6%;
  right: 0px;
}

/*
Map Open buddon styings
*/
#modal-map-open {
    /* margin-left: auto; */
    position: fixed;
    bottom: 30px;
    right: 18px;
}

/* 
Map close button stylings
 */
.close-map-button{
  float: right;
}

/* 
Map close button icon stylings
 */
#map-back img[src="images/close.png"]{
  width: 20px;
  height: 20px;
  /* margin-right: auto; */
}
